<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>CS 496 OAuth 2.0</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="Description" lang="en" content="ADD SITE DESCRIPTION">
		<meta name="author" content="ADD AUTHOR INFORMATION">
		<meta name="robots" content="index, follow">

		<!-- icons -->
		<link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
		<link rel="shortcut icon" href="assets/favicon.ico">

		<!-- Override CSS file - add your own CSS rules -->
		<link rel="stylesheet" href="assets/style.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1 class="header-heading">Google Plus OAuth 2.0</h1>
			</div>
			<div class="nav-bar">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
			<div class="content">
				<div class="main">

					<h1>Homepage</h1>
					<hr>

					<!-- Paragraphs -->
					<p>This application requires Google's permission to access your basic user information, such as your
					   first and last name. OAuth 2.0 is service that this application use in order to authenticate the user's
					   identity, and obtain authorization to use their basic information from Google Plus.
					</p>
					<hr>


					<p>Click on the button below to begin the authentication process.</p>
					<p><a href="{{ endpoint_link }}" class="btn">Login</a></p>
					<hr>

				</div>
			</div>
			<div class="footer">
				&copy; James Le 2017
			</div>
		</div>
	</body>
</html>